:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: #616161;
    background-color: #bdbdbd;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body{
  display: flex;
  justify-content: center;
}
.temp {
    height: 100vh;
    border: 8px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .flex-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }
.centerTopScreen {
    position: flex;
    align-items: center;
    text-align: center;
    font-size: 18px;
  }
.centerScreen {
    position: flex;
    height: 100vh;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 18px;
  }
  .card{
    padding: 20px;
    border-radius: 15px;
    background-color: #cecece;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px #919191;
  }

  h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 5px #919191;
  }
  a{
    font-size: 18px;
    font-weight: bold;
    color: #363636;
  }
  
  .left {
    position: relative;
    top: 50%;
    width: 100%;
    text-align: left;
    font-size: 18px;
  }

  .storeSerchBar{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }
